ion-content {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
}

#map {
  height: calc(100vh - 120px); // Account for header and footer
  width: 100%;
  z-index: 1;
}

.tab-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  ion-button {
    flex-direction: column;
    text-align: center;
    --padding-start: 0;
    --padding-end: 0;
    --color: black;
  }

  ion-icon {
    font-size: 22px;
    margin-bottom: 2px;
  }

  ion-label {
    font-size: 0.7rem;
    margin-top: 0;
  }
}
