html, body, app-root, ion-app, ion-content {
  height: 100% !important;
  min-height: 100% !important;
  width: 100% !important;
  min-width: 100% !important;
  overflow: hidden !important;
  position: relative !important;
}

ion-content {
  --overflow: visible !important;
  overflow: visible !important;
  touch-action: auto !important;
  contain: none !important;
  padding: 0 !important;
}

#map {
  height: 100% !important;
  min-height: 100% !important;
  width: 100% !important;
  min-width: 100% !important;
  touch-action: auto !important;
  pointer-events: auto !important;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.tab-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  ion-button {
    flex-direction: column;
    text-align: center;
    --padding-start: 0;
    --padding-end: 0;
    --color: black;
  }

  ion-icon {
    font-size: 22px;
    margin-bottom: 2px;
  }

  ion-label {
    font-size: 0.7rem;
    margin-top: 0;
  }
}
