<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Jeepney Route Editor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="route-editor-map"></div>

  <!-- Control Panel -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="clearRoute()" color="danger">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="removeLastPin()" color="warning">
        <ion-icon name="remove"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="saveRoute()" color="success">
        <ion-icon name="save"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <!-- Route Metadata Form -->
  <ion-card class="metadata-form">
    <ion-card-header>
      <ion-card-title>Route Details</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Route Code</ion-label>
        <ion-input [(ngModel)]="routeCode" placeholder="12C"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Route Name</ion-label>
        <ion-input [(ngModel)]="routeName" placeholder="Ayala-Colon"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Route Color</ion-label>
        <ion-input 
          type="color" 
          [(ngModel)]="routeColor" 
          (ionChange)="updateRouteLine()">
        </ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>