<div class="restaurant-card">
  <div class="restaurant-card__header">
    <div class="restaurant-card__icon-wrap" aria-hidden="true">
      <ion-icon name="restaurant" class="restaurant-card__icon"></ion-icon>
    </div>
    <span class="restaurant-card__title">{{ restaurant.name }}</span>
  </div>
  <div class="restaurant-card__body">
    <div class="restaurant-card__meta">
      <span *ngIf="restaurant.rating" class="restaurant-card__rating">
        <ion-icon name="star" class="restaurant-card__star"></ion-icon>
        {{ restaurant.rating }}
      </span>
      <span *ngIf="restaurant.vicinity" class="restaurant-card__vicinity">{{ restaurant.vicinity }}</span>
    </div>
    <div class="restaurant-card__timeslot">
      <ion-label class="restaurant-card__timeslot-label">Timeslot</ion-label>
      <ion-datetime
        class="restaurant-card__datetime"
        display-format="HH:mm"
        picker-format="HH:mm"
        [value]="timeslot"
        (ionChange)="onTimeslotChange($event)">
      </ion-datetime>
    </div>
    <ng-content></ng-content>
  </div>
</div>
