<ion-content>
  <img src="assets/img/car.png" class="bg-car" />

  <div class="container">
    <div class="content-layer">
      <h1>WELCOME TO<br />TRAVACEBU</h1>
      <p>A lightweight, budget-friendly travel planner for exploring Cebu like a local!</p>
    </div>

    <form class="custom-form">
      <button class="btn-road"><span class="btn-label" (click)="goToLogin()">LOGIN</span></button>
      <button class="btn-road"><span class="btn-label" (click)="goToRegister()">SIGN IN</span></button>
    </form>
  </div>
</ion-content>
