ion-content {
  --background: #FFD144;
  position: relative;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
  z-index: 2;
  position: relative;
  padding-bottom: 90px;
}

.bg-car {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
  z-index: 0;
  opacity: 1;
  pointer-events: none;
}

.content-layer {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  text-align: left;
}

h1 {
  font-weight: 900;
  font-size: 26px;
  color: #000000;
  line-height: 1.2;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  color: #000;
  margin-bottom: 30px;
}

.custom-form {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}



.btn-road {
  position: relative;
  width: 100%;
  padding: 16px 24px;
  background-color: #111720;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-top: 20px;
  overflow: hidden;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 3);
}

.btn-road::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 3px;
  background-image: repeating-linear-gradient(
    to right,
    #FFD144,
    #FFD144 10px,
    transparent 10px,
    transparent 20px
  );
  transform: translateY(-50%);
  z-index: 1;
}

.btn-label {
  position: relative;
  z-index: 2;
    padding: 0 12px;
  background-color: #111720;
}

.btn-road:hover {
  background-color: #111720;
  transform: scale(1.02);
  transition: 0.3s ease;
}
