
  <ion-content class="ion-padding">
    <div class="welcome-container">
      <div class="welcome-header">
        <img src="assets/img/car.png" alt="Travacebu Logo" class="logo" />
        <h1>Welcome to Travacebu</h1>
        <p>Your ultimate travel companion for memorable journeys</p>
      </div>

      <div class="welcome-buttons">
        <ion-button expand="block" shape="round" (click)="goToLogin()">
          Login
        </ion-button>
        <ion-button expand="block" fill="outline" shape="round" (click)="goToRegister()">
          Register
        </ion-button>
      </div>
    </div>
  </ion-content>
